fastapi==0.112.2
openai>=1.86.0
isodate==0.6.1
psycopg[binary]==3.2.13
pydantic-settings==2.4.0
redis==5.0.8
requests==2.32.3
sqlmodel==0.0.22
uvicorn[standard]==0.30.6
youtube-transcript-api==0.6.2
numpy==1.26.4
